In [15]:
import pandas as pd

In [16]:
marks = {"vegan_venues": 0.20, "starbucks":0.20, "schools":0.20, "train_stations":0.25, "basketball_courts":0.15}

In [17]:
dfsanfran = pd.read_csv("../newdata/dfgeosf.csv")
dfell = pd.read_csv('../newdata/dfgeoell.csv')
dfbro = pd.read_csv('../newdata/dfgeobro.csv')

In [18]:
dfbro

,name,lat,lon,category,geodist
0,MTA Subway - Grand Army Plaza (2/3),40.675184,-73.971031,train_stations,0.150718
1,MTA Subway - 4th Ave/9th St (F/G/R),40.670102,-73.989461,train_stations,0.150718
2,PS 118 - Maurice Sedak School,40.671092,-73.987976,schools,0.150719
3,Berkeley Carroll (Lower School),40.673925,-73.978320,schools,0.150719
4,William Alexander School MS 51,40.672444,-73.984389,schools,0.150719
...,...,...,...,...,...
88,Miami Ad School Brooklyn,40.704596,-73.987520,schools,0.150753
89,CASTLE Middle School,40.713364,-73.986040,schools,0.150762
90,Manhattan Charter School II,40.713730,-73.986433,schools,0.150763
91,MTA Subway - East Broadway (F),40.713973,-73.990125,train_stations,0.150764
92,Mei Wah Pre-School,40.712212,-73.996681,schools,0.150764

In [19]:
def punct(df):  
    o = []
    for i,row in df.iterrows():
        if row['category'] == "vegan_venues":
            o.append(row['geodist']*marks['vegan_venues'])

        elif row['category'] == "starbucks":
            o.append(row['geodist']*marks['starbucks'])

        elif row['category'] == "schools":
            o.append(row['geodist']*marks['schools'])

        elif row['category'] == "train_stations":
            o.append(row['geodist']*marks['train_stations'])

        elif row['category'] == "basketball_courts":
            o.append(row['geodist']*marks['basketball_courts'])
    df['punctuation'] = o
    return df['punctuation']

In [20]:
punct(dfsanfran)
punct(dfell)
punct(dfbro)

0     0.037679
1     0.037680
2     0.030144
3     0.030144
4     0.030144
        ...
88    0.030151
89    0.030152
90    0.030153
91    0.037691
92    0.030153
Name: punctuation, Length: 93, dtype: float64

In [24]:
pundfsanfran = dfsanfran.groupby('category').agg({'punctuation':'mean'}).reset_index()
meansanfran = sum([i for i in pundfsanfran['punctuation']])/len(pundfsanfran['punctuation'])
meansanfran

0.22395428060468872

In [25]:
pundfell = dfell.groupby('category').agg({'punctuation':'mean'}).reset_index()
meanell = sum([i for i in pundfell['punctuation']])/len(pundfell['punctuation'])
meanell

0.15224927589435963

In [26]:
pundfbro = dfbro.groupby('category').agg({'punctuation':'mean'}).reset_index()
meanbrooklyn = sum([i for i in pundfbro['punctuation']])/len(pundfbro['punctuation'])
meanbrooklyn

0.030147450114267015

In [49]:
means = [meansanfran, meanell, meanbrooklyn]
col = ['San Francisco', 'Ellensburg', 'Brooklyn']
finalmeans = pd.DataFrame(means, index = col).T
finalmeans

   San Francisco  Ellensburg  Brooklyn
0       0.223954    0.152249  0.030147