In [4]:
import pandas as pd

In [9]:
marks['vegan_venues']

0.2

In [121]:
marks = {"vegan_venues": 0.20, "starbucks":0.20, "schools":0.20, "train_stations":0.25, "basketball_courts":0.15}

In [122]:
dfsanfran = pd.read_csv('../newdata/dfsanfran.csv')
dfell = pd.read_csv('../newdata/dfellensburg.csv')
dfbro = pd.read_csv('../newdata/dfbrooklyn.csv')

In [123]:
dfsanfran

,name,lat,lon,location,category,distance
0,Vegan Plaza,37.781963,-122.409698,"{'type': 'Point', 'coordinates': [37.781963348...",vegan_venues,530
1,The Happy Vegan,37.780403,-122.395739,"{'type': 'Point', 'coordinates': [37.780403, -...",vegan_venues,892
2,Very Vegan Sunday,37.769984,-122.412088,"{'type': 'Point', 'coordinates': [37.769984, -...",vegan_venues,1105
3,Hella Vegan Eats,37.770233,-122.414000,"{'type': 'Point', 'coordinates': [37.770232781...",vegan_venues,1179
4,Golden Era Vegan,37.781495,-122.416822,"{'type': 'Point', 'coordinates': [37.781494739...",vegan_venues,1043
...,...,...,...,...,...,...
72,Victoria Manalo Draves Basketball Court,37.777412,-122.406676,"{'type': 'Point', 'coordinates': [37.777412, -...",basketball_courts,152
73,Basketball Court at Avalon II,37.775857,-122.394397,"{'type': 'Point', 'coordinates': [37.775856959...",basketball_courts,1027
74,Avalon Basketball Court,37.776619,-122.393181,"{'type': 'Point', 'coordinates': [37.776618957...",basketball_courts,1111
75,Berry Basketball Courts,37.771911,-122.397931,"{'type': 'Point', 'coordinates': [37.771911126...",basketball_courts,994
76,Hayward Playground Basketball Courts,37.780822,-122.426292,"{'type': 'Point', 'coordinates': [37.780822448...",basketball_courts,1839

In [124]:
def label_race (row):
    if dfsanfran['category'] == 'vegan_venues' :
        return marks['vegan_venues']*row

In [125]:
def punct(df):  
    o = []
    for i,row in df.iterrows():
        if row['category'] == "vegan_venues":
            o.append(row['distance']*marks['vegan_venues'])

        elif row['category'] == "starbucks":
            o.append(row['distance']*marks['starbucks'])

        elif row['category'] == "schools":
            o.append(row['distance']*marks['schools'])

        elif row['category'] == "train_stations":
            o.append(row['distance']*marks['train_stations'])

        elif row['category'] == "basketball_courts":
            o.append(row['distance']*marks['basketball_courts'])
    df['punctuation'] = o
    return df['punctuation']

In [126]:
punct(dfsanfran)
punct(dfell)
punct(dfbro)

0     133.80
1     131.00
2     261.20
3     124.20
4      52.00
       ...
89    560.00
90    288.00
91    172.80
92     22.80
93    246.75
Name: punctuation, Length: 94, dtype: float64

In [143]:
pundfsanfran = dfsanfran.groupby('category').agg({'punctuation':'mean'}).reset_index()
meansanfran = sum([i for i in pundfsanfran['punctuation']])/len(pundfsanfran['punctuation'])
meansanfran

224.09948538011696

In [145]:
pundfell = dfell.groupby('category').agg({'punctuation':'mean'}).reset_index()
meanell = sum([i for i in pundfell['punctuation']])/len(pundfell['punctuation'])
meanell

152.3375

In [146]:
pundfbro = dfbro.groupby('category').agg({'punctuation':'mean'}).reset_index()
meanbrooklyn = sum([i for i in pundfbro['punctuation']])/len(pundfbro['punctuation'])
meanbrooklyn

188.23766917293233

In [167]:
means = [meansanfran, meanell, meanbrooklyn]
columns = ['San Francisco', 'Ellensburg', 'Brooklyn']

In [169]:
df = pd.DataFrame(means)

In [170]:
df

            0
0  224.099485
1  152.337500
2  188.237669